header.header
	.row
		h1.header__titulo.col-12= site.name
	.header__nav
		.row
			nav.col-12
				a.btn.btn--nav.visible-s.fright.js-btn-nav(href="#")!= "Menu"
				ul
					li
						a(href="#sobre")= "Sobre"
					li
						a(href="#blog")= "Blog"
					li
						a(href="#github")= "Github"
					li
						a(href="#trabalhos")= "Trabalhos"
					li
						a.js-link-contato(href="#contato")= "Contato"
