section#feeds.feeds.container-fluid.py-1
		h2.title= 'Feeds'
		h3.title.title--sub= 'Blog'
		ul.list-unstyled.row.mb-0.js-blog
		.text-xs-right
			a(href='http://saviomd.com/blog/', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='Blog', ga-event-label='Veja mais')= 'Veja mais'
		h3.title.title--sub= 'GitHub Starred'
		ul.post-wrapper--title-one-line.list-unstyled.row.mb-0.js-github-starred
		.text-xs-right
			a(href='http://github.com/stars/saviomd', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='GitHub Starred', ga-event-label='Veja mais')= 'Veja mais'
		h3.title.title--sub= 'Pinterest'
		ul.list-unstyled.row.mb-0.js-pinterest
		.text-xs-right
			a(href='https://www.pinterest.com/saviomd/pins/', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='Pinterest', ga-event-label='Veja mais')= 'Veja mais'
