section#feeds.feeds.container-fluid.py-3
	h2.title= 'Feeds'
	h3.title.title--sub= 'Blog'
	ul.list-unstyled.row.mb-0.js-blog
	.text-right
		a(href='http://saviomd.com/blog/', rel='noopener', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='Blog', ga-event-label='Veja mais')= 'Veja mais'
	h3.title.title--sub= 'GitHub Starred'
	ul.post-wrapper--title-one-line.list-unstyled.row.mb-0.js-github-starred
	.text-right
		a(href='http://github.com/stars/saviomd', rel='noopener', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='GitHub Starred', ga-event-label='Veja mais')= 'Veja mais'
	h3.title.title--sub= 'Pinterest'
	ul.list-unstyled.row.mb-0.js-pinterest
	.text-right
		a(href='https://www.pinterest.com/saviomd/pins/', rel='noopener', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='Pinterest', ga-event-label='Veja mais')= 'Veja mais'
