include /data/sections.jade

header.header
	h1.header__title.container-fluid.my-0= site.name
	.header__nav-wrapper
		nav.clearfix.container-fluid
			a.btn.btn--nav.d-sm-none.float-right.js-btn-nav(href='#')= 'Menu'
			ul.header__nav.list-unstyled.mb-0.float-sm-right
				each section in sections
					li.float-sm-left
						a.header__nav-link.px-3.text-center(class=(section.id === 'contact') ? 'js-link-contact' : '', href='##{section.id}', ga-on='click', ga-event-category=site.name, ga-event-action='Cabeçalho', ga-event-label=section.name)= section.name
