header.header
	h1.header__title.container-fluid.m-y-0= site.name
	.header__nav-wrapper
		nav.container-fluid
			a.btn.btn--nav.pull-xs-right.hidden-md-up.js-btn-nav(href='#')= 'Menu'
			ul.header__nav.list-unstyled.m-b-0
				li.pull-md-left
					a.header__nav-link.p-x-1.text-xs-center(href='#about')= 'Sobre'
				li.pull-md-left
					a.header__nav-link.p-x-1.text-xs-center(href='#feeds')= 'Feeds'
				li.pull-md-left
					a.header__nav-link.p-x-1.text-xs-center(href='#work')= 'Trabalhos'
				li.pull-md-left
					a.header__nav-link.p-x-1.text-xs-center.js-link-contact(href='#contact')= 'Contato'
