include /data/work.jade

section#work.work.container-fluid.p-y-1
	h2.title= 'Trabalhos'
	ul.list-unstyled.row
		each item in work
			li.col-xs-12.col-md-6.m-b-3.wow.fadeIn
				.work__img-wrapper.embed-responsive.embed-responsive-4by3.m-b-1
					img.embed-responsive-item(alt=item.name, height='450', src=item.image, width='600')
				.work__info
					header
						h3.title.title--sub= item.name
					ul.clearfix.list-unstyled.m-b-1
						each tag in item.tags
							li.work__technology.pull-xs-left= tag
					if item.url
						a.btn.pull-xs-right.js-btn-work(href=item.url, target='_blank')= 'Visite o site'
