section#feeds.feeds.container-fluid
		h2.title= 'Feeds'
		h3.title.title--sub= 'Blog'
		ul.list-unstyled.row.m-b-0.js-blog
		.text-right
			a.js-link-more-blog(href='http://saviomd.com/blog/')= 'Veja mais'

		h3.title.title--sub= 'GitHub Starred'
		ul.post-wrapper--title-one-line.list-unstyled.row.m-b-0.js-github-starred
		.text-right
			a.js-link-more-github-starred(href='http://github.com/stars/saviomd')= 'Veja mais'

		h3.title.title--sub= 'Pinterest'
		ul.list-unstyled.row.m-b-0.js-pinterest
		.text-right
			a.js-link-more-pinterest(href='https://www.pinterest.com/saviomd')= 'Veja mais'
