include /data/projects

section#projects.projects.container-fluid.py-3
  - sectionName = 'Projetos';
  h2.title= sectionName
  ul.list-unstyled.row
    each item in projects
      li.col-12.col-md-6
        .projects__item.g-0.mb-4.p-3.row
          .col-3.pe-3
            img.projects__icon(alt=item.name, src=item.icon)
          .col-9
            header
              h3.title.title--sub= item.name
            .mb-3= item.description
            ul.list-inline
              each tag in item.tags
                li.projects__technology.list-inline-item.small= tag
            .text-end
              a.btn.projects__btn(
                href=item.url,
                rel="noopener",
                target="_blank",
                ga-on="click",
                ga-event-category=site.name,
                ga-event-action=sectionName,
                ga-event-label=item.name
              )= 'Visitar'
