include /data/projects

section#projects.projects.container-fluid.py-3
	h2.title= 'Projetos'
	ul.list-unstyled.row
		each item in projects
			li.col-12.col-md-6
				.projects__item.mb-4.py-3.clearfix
					header
						h3.title.title--sub= item.name
					.mb-3= item.description
					ul.list-inline
						each tag in item.tags
							li.projects__technology.list-inline-item.small= tag
					if item.url
						.text-right
							a.btn.projects__btn(href=item.url, rel='noopener', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='Projetos', ga-event-label=item.name)= 'Visitar'
