include /data/work

section#work.work.container-fluid.py-3
	h2.title= 'Trabalhos'
	ul.list-unstyled.row
		each item in work
			li.col-12.col-md-6
				.work__item.mb-4.py-3.clearfix
					header
						h3.title.title--sub= item.name
					.mb-3= item.description
					ul.list-inline
						each tag in item.tags
							li.work__technology.list-inline-item.small= tag
					if item.url
						.text-right
							a.btn.work__btn(href=item.url, rel='noopener', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='Trabalhos', ga-event-label=item.name)= 'Visitar'
